@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --purple: #674188;
  --ligther-purple: #C8A1E0;
  --light-pink: #E2BFD9;
  --beige: #F7EFE5;
  --gray: #1e293b;
  background-color: var(--beige);
}

.container {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-template-rows: auto auto 1fr;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.sidebar {
  background-color: var(--purple);
  grid-row: 1 / -1;
  padding: 30px 20px;
  color: white;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: start;
}

.sidebar div:hover,
.sidebar i:hover {
  cursor: pointer;
  color: var(--ligther-purple);
  font-size: 1.1rem;
  transition: 1s ease-out;
}

.sidebar div:first-of-type,
.sidebar i:first-of-type {
  text-shadow: 2px 2px #313131;
}

.dashboard {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.settings {
  margin-top: 30px;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: var(--light-pink);
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: var(--gray);
}

.search {
  display: flex;
  align-items: center;
}

.search i:hover {
  color: var(--gray);
  font-size: 1rem;
  cursor: pointer;
}

input {
  margin-right: 10px;
  width: 350px;
  padding: 3px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
}

.user-info {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: end;
}

.user-info i {
  margin-left: 10px;
}

.user-info img {
  width: 35px;
  height: 35px;
  min-width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.greetings {
  display: flex;
  gap: 12px;
}

.buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  background-color: var(--purple);
  color: white;
}

.buttons button:hover {
  background-color: var(--ligther-purple);
  cursor: pointer;
}

.greetings img {
  width: 40px;
  border-radius: 50%;
}

.title {
  font-weight: 700;
  margin-top: 20px;
  margin-left: 20px;
  color: var(--purple);
  font-size: 1.2rem;
}

.less-margin {
  margin-left: 0;
}

.main-content {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
}

.card {
  background-color: var(--light-pink);
  padding: 10px 15px;
  border-left: 5px solid var(--purple);
  border-radius: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--gray);
}

.card:hover {
  cursor: pointer;
  background-color: var(--ligther-purple)
}

.card p:first-of-type {
  margin-bottom: 0;
}

.card div {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding-bottom: 4px;
}

.card b:hover,
.card div i:hover,
.smaller-card b:hover,
.trending-social-media b:hover,
.trending img:hover {
  cursor: pointer;
  color: var(--purple);
}

.announcements {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.smaller-card {
  background-color: var(--light-pink);
  padding: 5px 15px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  row-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trending img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.trending-social-media p {
  margin-top: 2px;
  margin-bottom: 0;
}
